<h1>Welcome to my cocktails</h1>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <ul class="list-group">
      <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail), class: "list-group-item" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-4">
<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>

