// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-image: url(https://www.google.fr/url?sa=i&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwj64Pui19beAhVDzoUKHe4ECO8QjRx6BAgBEAU&url=https%3A%2F%2Fwww.liquor.com%2Frecipes%2Fbourbon-old-fashioned%2F&psig=AOvVaw13qLw6Smh2y5Fj2L8AiLOK&ust=1542381043213567);
  background-position: center;
  color: white;
  position: relative;
}

div {
  display: flex;
}

.list-group {
  width: 60px;
}

.container-fluid {
  text-align: justify;
}

.container h1 {
    text-align: justify;
}
